

:root{
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

div{
  width: 100%;
}


.App-link {
  color: #61dafb;
  margin: 0;
  padding: 0;
}

body{
  color: black;
  background-color: white;
  margin-left: 0.5rem;
  padding: 1rem;
}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
  background: #805f7d;
}

a{
  text-decoration: none;
}

/*navbar*/

.navigation{
  display: inline-block;
  background-color: aquamarine;
  padding: 20px;
}

.navbar{
  top: 0;
  left: 0;
}
.navbar-nav{
  list-style: none;
}

.nav-item{
  color: var(--text-primary);
  line-height: 40px;
  font-size: 18px;
  font-weight: 500;
}

.header{
  justify-content: center;
  text-align: center;
  margin: 40px;
}


.large{
  text-align: center;
  font-size: 100px;
}

Button{
  Padding: 10px;
  border-radius: 5px;
  display: inline-block;
}
